.footer{
    margin-top: 1.5rem;
}
.footer-col{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 20px;
        max-width: 1385px;
    
}
.main-footer__link {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #4f5864;
}
.icons-social{
    
        width: 34px;
        height: 34px;
        margin-right: 10px;
        fill: #4f5864;
        margin-bottom: 20px;
    
}
.main-footer__heading{
    margin-bottom: 20px;
}
#aaa{
    margin-right: 13px;
}
.input-group{
    margin-top: 20px
}
.main-footer__copyright {
    margin: auto;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dce3ed;
    background-color: #fff;
}
.sign{
    font-size: 14px;
}