#image{
    margin-left: 4rem;
    margin-top: 1rem;
    cursor: pointer;}
p{
   text-align: center;
   margin-top: 1rem;
}
span{
    font-weight: bold;
}
.container{
    margin-left: 4rem;
    margin-top: 1rem;
}
.card{
    margin-left: 20px;
}