#image {
  margin-left: 2.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
p {
  text-align: center;
  margin-top: 1rem;
}
span {
  font-weight: bold;
}
 .container {
  margin-left: 1.5rem;
  margin-top: 1rem;
}
/* cards style */
.card {
  margin-left: 20px;
} 
.bought {
  font-size: 14px;
  color: #92a2ad;
  width: 30%;
  flex: none;
  display: inline-flex;
  align-items: flex-end;
  justify-content: left;
}
h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
  color: #4f5864;
  margin: 0;
  line-height: 1.4;
}
#from {
  display: block;
  line-height: 1.2;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  color: #1eb3ec;
}
.card-text {
  color: #1eb3ec;
}
.price {
  line-height: 1.2;
  text-align: right;
  color: #1eb3ec;
  width: 100%;
  font-size: 35px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
}
#twoPrice {
  display: block;
  text-align: right;
}
.heart {
  box-sizing: inherit;
  content: " ";
  opacity: 1;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #eff3fa 0 0 no-repeat padding-box;
  opacity: 0.9;
  border-radius: 50%;
  cursor: grabbing;
}

/* list group style */
.quantity{color: #92a2ad;
font-weight: 300;
font-size: 12px;
}
#list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    color: #4f5864;
    line-height: 1;
    transition: all .15s ease-out;
    padding: 15px 20px;

}
/* style input */
.input{
    border-bottom: 1px solid #dce3ed;
    background-color: #fff;
    align-items: center;
    padding: 38px;
    max-width: 85rem;
    margin: 25px auto 0;
    flex-wrap: wrap;
    margin-left: 2.5rem;
    margin-top: 1rem;
}
.message{
color: #01b2ee;
font-size: 24px;
font-weight: 700;
padding-right: 10px;
width: 100%;
margin-bottom: 18px;
}
.btn{
    color: white;
    box-shadow: 0 0 8px 0 rgb(1 178 238 / 50%);
    border: none;
    background: #01b2ee;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
    font-weight: 500;
}